body {
  position: relative;
  background: linear-gradient(to right, #990505, #F2AB27);
  margin: 0;
  padding: 0;
  font-family: 'Courier New Black', sans-serif;
}

#myDiv {
  margin: 0 auto;
  display: block;
  width: 1000px;
  height: 460px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(233, 155, 9, 0.336);
}

#title {
  text-align: center;
  margin: 30px auto;
  padding: 0px;
  max-width: 800px;
  position: relative;
  top: 20px;
  left: 150px;
}

#title h1 {
  font-size: 36px;
  color: #ffffff; 
  margin: 0;
  font-weight: bold;
}

#title h2 {
  font-size: 20px;
  color: #f5eeee;
  margin-top: 5px;
  font-weight: normal;
}

#title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #400600;
  margin: 10px auto 0;
  border-radius: 2px;
}


#context {
  font-size: 14px;
  color: #400600;
  line-height: 1.2;
  width: 1450px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#mapContainer, .chart-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#mapContainer {
  position: absolute;
  top: 2px;
  left: 50px;
  height: 630px;
  width: 20%;
}

#yearSelector {
  position: absolute;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 440px; /* Centramos el selector horizontalmente */
  transform: translateX(-50%); /* Para centrar el selector basado en el centro del elemento */
  width: 100px; /* Ancho aumentado para una mejor visibilidad */
  height: 45px; /* Altura ajustada */
  padding: 5px 10px; /* Más padding para una apariencia más espaciosa */
  font-size: 18px; /* Ajusta el tamaño de fuente */
  border-radius: 15px; /* Bordes más redondeados */
  border: 2px solid #400600; /* Borde más grueso */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo ligeramente opaco */
  color: #400600; /* Color del texto */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para hacerlo más visible */
  z-index: 10; /* Asegura que esté en un nivel superior */
}


.chart-container {
  position: absolute; /* O `fixed` si quieres que permanezca al hacer scroll */
  top: 250px; /* Ajusta la distancia desde el borde superior */
  left: 450px; /* Ajusta la distancia desde el borde izquierdo */
  width: 90%;
  height: 300px;
  max-width: 950px;
  padding: 20px;
  margin: 50px auto;
}

.general-context {
  position: absolute;
  top: 120px;
  left: 450px;
  width: 90%;
  max-width: 950px;
  margin: 30px auto;
  padding: 20px;
  background-color:  rgba(255, 255, 255, 0.8); /* Fondo ligeramente gris */
  color: #400600;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.general-context h2 {
  font-size: 22px;
  margin: 0 0 10px 0;
  color: #400600; /* Color del título */
  font-weight: bold;
}

.general-context p {
  margin: 0;
  padding: 0;
  line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
  color: #555; /* Color de texto gris para contraste */
}

